<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top" class="index">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB62LT3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include nav.html %}

{{ content }}

{% include footer.html %}
{% include analytics.html %}

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/assets/js/jqBootstrapValidation.js"></script>
<script src="/assets/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/assets/js/agency.js"></script>
 <script type="text/javascript" >
 function aclick(){
	alert("클릭");
	ga('send', {
	hitType: 'event', //이벤트라고 명시
	eventCategory: 'home', //메인 화면에서 일어나는
	eventAction: 'menu', //메뉴
	eventLabel: 'service' //카테고리명
	});
	
}


</script>


</body>

</html>
